@import '../styles/variables';

.header {
  width: 100%;

  background-color: #dbf9f9;
  border-bottom: 1px solid #cef2ee;

  :global(body.dark) & {
    background-color: #292d3f;
    border-bottom: 1px solid #373f38;
  }
}

.title {
  margin: 0;
  padding: 0.1em 0.5em;
  font-size: 1.8em;
  text-align: left;

  @include md {
    text-align: center;
    font-size: 2em;
  }
}

.theme-selector,
.lang-selector {
  margin: 0.5em 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
  float: right;
  text-align: right;

  @include md {
    font-size: 1em;
  }
}

.lang-selector img {
  height: 1em;

  @include md {
    font-size: 1.2em;
  }
}
