@import '../styles/variables';

.tabletop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include md {
    flex-direction: row;
  }

  .right {
    width: 80vw;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;

    @include sm {
      width: 60vw;
    }

    @include md {
      row-gap: 20px;
      max-width: 500px;
      width: 50vw;
    }
  }
}
