@import '../styles/variables';

.surface {
  // Background Image settings
  background: url('../assets/pool-table.png') center no-repeat;
  background-size: contain;

  padding: 2vw;
  max-width: 600px;
  max-height: 600px;
}

.grid {
  display: grid;
  margin: 0 auto;
  gap: 0.2em;
  column-gap: 0.2em;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 500px;

  @include sm {
    width: 60vw;
    height: 60vw;
  }

  @include md {
    width: 40vw;
    height: 40vw;
  }
}

@keyframes move-vert {
  from { transform: translateY(100%); }
  to   { transform: translateY(0%); }
}

@keyframes move-hori {
  from { transform: translate(0, 100%); }
  to   { transform: translate(0, 0%); }
}

.gridItem {
  &.current {
    background: url('../assets/robot-sprite.png') center no-repeat;
    background-size: contain;

    animation-timing-function: linear;

    &.dir-up {
      rotate: 0;
      animation: move-vert 0.2s backwards;
    }
    &.dir-right {
      rotate: 90deg;
      animation: move-hori 0.2s forwards;
    }
    &.dir-left {
      rotate: -90deg;
      animation: move-hori 0.2s backwards;
    }
    &.dir-down {
      rotate: 180deg;
      animation: move-vert 0.2s forwards;
    }
  }
}